/*Daqui pra baixo é do index.js*/
.inputs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    flex-wrap: wrap;
}
.new-calc-select{
    margin: 20px 15px auto ;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Daqui pra baixo é da page CadastroManual.js*/
.manual-container  {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 50px;
    border-radius: 5px;
    height: 250px;
    -webkit-box-shadow: 0px 0px 20px -3px #000000; 
    box-shadow: 0px 0px 20px -3px #000000;
}
.cliente-container  {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 50px 200px;
    border-radius: 5px;
    height: 250px;
    -webkit-box-shadow: 0px 0px 20px -3px #000000; 
    box-shadow: 0px 0px 20px -3px #000000;
}

.data-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs{
    margin: 15px;
    justify-self: ;
}

