.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.buttonNewCalculo {
    margin-bottom: 50px;
}

.button-new-activity-container {
    margin-top: 15px;
}