.box-container {
    
}
.box-cadastrados {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px none #000000;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    border-width: 1px;
}